html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: linear-gradient(45deg, #f3f7f0, #a93f55);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    color: rgb(1, 1, 1, 0.3);
}
.swiper-button-prev {
    color: rgb(1, 1, 1, 0.3);
}
.swiper-pagination {
    color: rgb(1, 1, 1, 0.3);
}

.bg-theme {
    background: linear-gradient(45deg, #19323C, #123d4e);
    box-shadow: 0px 2px 19px 5px rgba(0,0,0,0.21);
}

.bg-theme .navbar-toggler {
    border: 3px solid #F3F7F0;
    border-radius: 12px;
}

.bg-theme .navbar-toggler-icon {
    background-image: url('../img/list.png');
}

.nav-item {
    color: #F3F7F0;
}

.nav-item:hover {
    color: #ff304f;
}

img {
    box-shadow: 2px 2px 19px 5px rgba(0,0,0,0.21);
}

.mobile {
    border: 6px solid #19323C;
    border-radius: 37px;
    margin-top: 45px;
}

h1 {
    margin-top: 37%;
}

h1, h3 {
    margin-left: 10%;
    color: #19323C;
}

@media screen and (max-device-width:480px){
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 35px;
    }
    
    h3 {
        font-size: 27px;
    }
    
    .mobile {
        display: block;
        margin-top: 15px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    /*Далее остальные стили*/
}
