html, body {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    color: #19323C;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100%;
    background: #f3f7f0;
}

button, .swiper-button-prev, .swiper-button-next {
    outline: none!important;
}

#preloader {
    position: absolute;
    z-index: 999;
    background: linear-gradient(45deg, #ff304f, #a93f55);
}

.navbar {
    z-index: 998;
}

.loaded_hiding #preloader {
    transition: 0.7s opacity;
    opacity: 0;
}

.loaded #preloader {
    display: none;
}

.load {
    display: block;
    margin: 28vh auto;
    animation-name: pulsing;
	-webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: linear-gradient(45deg, #f3f7f0 45%, #ff304f 5%);

    background-attachment: scroll;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    color: rgb(1, 1, 1, 0.3);
}
.swiper-button-prev {
    color: rgb(1, 1, 1, 0.3);
}
.swiper-pagination {
    color: rgb(1, 1, 1, 0.3);
}

.bg-theme {
    background: linear-gradient(45deg, #19323C, #123d4e);
    box-shadow: 0px 2px 19px 5px rgba(0,0,0,0.21);
}

.bg-theme .navbar-toggler {
    border: 3px solid #F3F7F0;
    border-radius: 12px;
}

.bg-theme .navbar-toggler-icon {
    background-image: url('../img/list.png');
}

.nav-item {
    color: #F3F7F0;
}

.nav-item:hover {
    color: #ff304f;
}

.logo {
    box-shadow: 2px 2px 19px 5px rgba(0,0,0,0.21);
}

.mobile {
    border: 6px solid #19323C;
    border-radius: 37px;
    margin-top: 45px;
    box-shadow: 3px 3px 19px 5px rgba(0,0,0,0.41);
}

h3, p, a {
    font-family: 'Questrial', sans-serif;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-top: 39%;
    margin-bottom: 0;
    font-weight: 600;
}

h1, h3 {
    margin-left: 10vh;
    color: #19323C;
}

h2 {
    margin-top: 40vh;
    font-size: 45px;
}

p {
    margin-top: 40vh;
    font-size: 20px;
}

.f {
    margin-top: 30vh;
    text-align: center;
}

.text-download {
    width: 60%;
    margin: 15vh auto 12vh auto;
    text-align: center;
}

.features {
    font-size: 22px;
    text-align: center;
    margin: 20px;
}

.skills-img {
    margin-top: 7vh;
}

.skills-text {
    font-size: 23px;
    margin-top: 25px;
}

#download {
    background: linear-gradient(45deg,
#ff304f 16%,
#f3f7f0 16%, #f3f7f0 40%,
#f3f7f0 40%, #f3f7f0 60%,
#f3f7f0 60%, #f3f7f0 84%,
#ff304f 84%);
        
}

#features {
    background: linear-gradient(180deg,
#ff304f 18%,
#f3f7f0 18%, #f3f7f0 40%,
#f3f7f0 40%, #f3f7f0 60%,
#f3f7f0 60%, #f3f7f0 90%,
#ff304f 90%);
        
}

.button-download {
    background: #ff304f;
    color: #F3F7F0;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.21);
}

.button-download:hover {
    background: #a93f55;
    color: #19323C;
    text-decoration: none;
    cursor: pointer;
}

.count {
    width: 100%;
    background: #a93f55;
}

@media screen and (max-device-width:1100px){
    h1 {
        margin-top: 45%; 
    } 
}

@media screen and (max-device-width:800px){
    
    .swiper-slide {
        background: linear-gradient(45deg, #ff304f 45%, #f3f7f0 5%);
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 60px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    h2 {
        margin-top: 40%;
        font-size: 65px;
    }

    p {
        margin-top: 5%;
        font-size: 24px;
    }
    
    .mobile {
        display: block;
        margin-top: 45px;
        width: 270px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        width: 400px;
        margin: 40% auto;
    }
    /*Далее остальные стили*/
    .features {
        font-size: 22px;
        text-align: center;
        margin: 20px;
    }

    .skills-img {
        margin-top: 2vh;
    }

    .skills-text {
        font-size: 18px;
        margin-top: 25px;
    }
    
    .f {
        margin-top: 25vh;
        text-align: center;
    }
    
    .g {
        margin-top: 20vh;
        text-align: center;
    }
    
    
    .text-download {
        margin-top: 30%!important;
    }


@media screen and (max-device-width:600px){
    
    .swiper-slide {
        background: linear-gradient(45deg, #ff304f 45%, #f3f7f0 5%);
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 50px;
    }
    
    h3 {
        font-size: 35px;
    }
    
    h2 {
        margin-top: 45%;
        font-size: 50px;
    }

    p {
        margin-top: 5%;
        font-size: 17px;
    }
    
    .mobile {
        display: block;
        margin-top: 30px;
        width: 220px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        margin: 30% auto;
    }
    /*Далее остальные стили*/
    
    .text-download {
        margin-top: 25%!important;
    }
    
    .features {
        font-size: 15px;
        text-align: center;
        margin: 20px;
    }

    .skills-img {
        width: 65px;
    }

    .skills-text {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .f {
        margin-top: 30%;
    }
}

@media screen and (max-device-width:480px){
    
    .swiper-slide {
        background: linear-gradient(45deg, #ff304f 45%, #f3f7f0 5%);
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 45px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h2 {
        margin-top: 45%;
        font-size: 50px;
    }

    p {
        margin-top: 5%;
        font-size: 18px;
    }
    
    .mobile {
        display: block;
        margin-top: 25px;
        width: 210px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        width: 300px;
        margin: 55% auto;
    }
    /*Далее остальные стили*/
    
    .features {
        font-size: 15px;
        text-align: center;
        margin: 20px;
    }

    .skills-img {
        width: 65px;
    }

    .skills-text {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .f {
        margin-top: 45%;
    }
    
    .text-download {
        margin-top: 20%!important;
    }
}

@media screen and (max-device-width:400px){
    
    .swiper-slide {
        background: linear-gradient(45deg, #ff304f 45%, #f3f7f0 5%);
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h2 {
        margin-top: 70%;
        font-size: 45px;
    }

    p {
        margin-top: 5%;
        font-size: 17px;
    }
    
    .mobile {
        display: block;
        margin-top: 15px;
        width: 180px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        width: 250px;
        margin: 50% auto;
    }
    /*Далее остальные стили*/
    
    .features {
        font-size: 18px;
        text-align: center;
        margin: 10px;
    }

    .skills-img {
        width: 65px;
    }

    .skills-text {
        font-size: 15px;
        margin-top: 5px;
    }
    
    .f {
        margin-top: 45%;
    }
    
}

@media screen and (max-device-width:370px){
    
    .swiper-slide {
        background: linear-gradient(45deg, #ff304f 45%, #f3f7f0 5%);
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h2 {
        margin-top: 45%;
        font-size: 40px;
    }

    p {
        margin-top: 5%;
        font-size: 15px;
    }
    
    .mobile {
        display: block;
        margin-top: 15px;
        width: 180px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        width: 250px;
        margin: 50% auto;
    }
    /*Далее остальные стили*/
    
    
    .features {
        font-size: 15px;
        text-align: center;
        margin: 10px;
    }

    .skills-img {
        width: 50px;
    }

    .skills-text {
        font-size: 12px;
        margin-top: 5px;
    }
    
    .f {
        margin-top: 45%;
    }
}

@media screen and (max-device-width:300px){
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: 50px!important; 
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    .mobile {
        display: block;
        margin-top: 15px;
        width: 180px;
    }
    
    .nav-item {
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .load {
        width: 250px;
        margin: 65% auto;
    }
    /*Далее остальные стили*/
}

